@model IEnumerable<Hazza.Dashboard.ViewModels.SelectWidgetViewModel>


<ul>
    @foreach (var viewModel in Model)
    {
        <li>
            <a href="@Url.Action("AddWidget", "Admin", new { area = "Hazza.Dashboard", type = viewModel.Name, zone = Request.QueryString["zone"] ?? "Content"})">@viewModel.DisplayName</a>
            <p class="hint">@viewModel.Decription</p>
        </li>
    }
</ul>         