@model dynamic

<div class="addWidget">
    @Html.ActionLink("Add Widget", "SelectWidget", "Admin", new { area = "Hazza.Dashboard", zone = Model.ZoneName }, new { @class = "button primaryAction" })
</div>
