@model dynamic

@{
    Style.Include("dashboard").AtHead();
}

<div class="dashboard">
    @Display(Model.Head)
    <div class="dashboardCol">
        Column1
        @Display(Model.Column1)
    </div>
    <div class="dashboardCol">
        Column2
        @Display(Model.Column2)
    </div>
    <div class="dashboardCol">
        Column3
        @Display(Model.Column3)
    </div>
</div>